<div id='slidebox'>
        <div class='inner'>
                <div class='left'><div></div></div>
                <div class='right'><div></div></div>
                <div class='images'>
                        <div class='slideImage'>
                                <img src="{{ asset('bundles/placeholders/slider1.jpg')}}" alt='' />
                                <a href='article.html'></a>
                        </div>
                        <div class='slideImage'>
                                <img src="{{ asset('bundles/placeholders/slider2.jpg')}}" alt='' />
                                <a href='article.html'></a>
                        </div>
                        <div class='slideImage'>
                                <img src="{{ asset('bundles/placeholders/slider3.jpg')}}" alt='' />
                                <a href='article.html'></a>
                        </div>
                        <div class='slideImage'>
                                <img src="{{ asset('bundles/placeholders/slider4.jpg')}}" alt='' />
                                <a href='article.html'></a>
                        </div>
                </div>
        </div>
    </div>